<% provide(:title, "利用者一覧")%>

<h1>ユーザー一覧</h1>

<div class = "row">
  <div class = "col-md-10 col-md-offset-1">
    <%= will_paginate %>
    <table class = "table table-condensed table-hover">
      <thead>
        <tr>
          <td>
            名前
          </td>
          <td>所属</td>
        </tr>
      </thead>
      
      
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <% if current_user.admin? %>
            <%= link_to user.name,user_path(user.id) %> |
            <%= link_to "削除", user_path(user.id),method: :delete, data:{confirm: "削除してよろしいですか？"} %>
            <% else %>
            <%= user.name %>
            <% end %>
          </td>
          <td class="kind-department"><%= user.department.present? ? user.department: "未所属" %></td>
          <td>
            <% if current_user.admin? %>
             <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" %>
             <% else %>
             <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
    </table>
    <%= will_paginate %>
  </div>
</div>

<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>